.App {
  text-align: center;
}

.toolbar {
  width: auto;
  justify-content: space-between;
}

.navbar {
  margin-left: 25px;
}

.toolbarDiv {
  display: flex;
  justify-content: left;
}
.navToolbarButton {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.navLoginButton {
  float: right;
}
